<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P04AplikacjaZawodnicy.Core.Properties.Settings.A_ZawodnicyConnectionString"
            connectionString="Data Source=.;Initial Catalog=A_Zawodnicy;User ID=sa;Password=alx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>